.hex-outer {
	$height: 120px;
	$width: calc(0.865 * $height);

	$point-height: calc(0.25 * $height);
	$core-height: calc(0.5 * $height);

	margin: calc(0.25 * $height) 0;
	width: $width;
	height: $core-height;
	background-color: #6c6eee;
	position: relative;

	.hex-inner {
		height: $core-height;
		width: 100%;
	}

	&:before {
		content: '';
		width: 0;
		height: 0;
		border-bottom: $point-height solid #6c6eee;
		border-left: calc(0.5 * $width) solid transparent;
		border-right: calc(0.5 * $width) solid transparent;
		position: absolute;
		top: -50%;
	}

	&:after {
		content: '';
		width: 0;
		position: absolute;
		bottom: -50%;
		border-top: $point-height solid #6c6eee;
		border-left: calc(0.5 * $width) solid transparent;
		border-right: calc(0.5 * $width) solid transparent;
	}
}
