html {
    scroll-behavior: smooth;
}

body {
    background-color: #262626;
}

main {
    color: #fff;
}

nav {
    background-color: #262626;
}

dp {
    margin-top: 18px;
}

.linebreak {
    height: 1px;
    background-color: #fff;
    margin-top: 60px;
}

.lead {
    margin-top: 8px;
    margin-bottom: 2px;
}

/* Buttons With Underline*/
.button-under-animated {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.button-under-animated:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.button-under-animated:hover:after { 
  width: 100%; 
  left: 0; 
}
