html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(40, 40, 40);
}

main {
    color: rgb(255, 255, 255);
}

nav {
    background-color: rgb(40, 40, 40);
}

dp {
    margin-top: 18px;
}

.linebreak {
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin-top: 60px;
}

.lead {
    margin-top: 8px;
    margin-bottom: 2px;
}

/* Buttons With Underline*/
.button-under-animated {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    background-color: rgb(40, 40, 40);
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    font-size: 20px;
}
.button-under-animated:after {    
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(255, 255, 255);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.button-under-animated:hover:after { 
    width: 100%; 
    left: 0; 
}

#lah-carousel-inner {
    max-width: 100%;
    max-height: 100%;
/*  max-height: 200px !important;*/
}

.index-main-logo {
    max-width: 11%; 
    min-width: 8%; 
    margin-top: 140px;
}

.index-title {
    margin-top: 40px; 
    font-family:'Courier New';
}

.index-email {
    margin-top: 6px; 
    font-size: 18px;
}

.logo-link {
    max-width: 2vw; 
    min-width: 1.5vw;
}

/* Mobile */
@media only screen and (max-device-width: 600px) {    
    
    .text-centre {
        padding-left: 10px;
    }
    
    .index-main-logo {
        max-width: 32%; 
        min-width: 26%; 
        margin-top: 140px;
    }
    
    .index-title {
        margin-top: 40px;
        font-size: 44px;
        font-family:'Courier New';
    }
    
    .index-email {
        margin-top: 2px; 
        font-size: 20px;
    }

    .logo-link {
        max-width: 6vw; 
        min-width: 4.5vw;
    }      
    
}

/* Safari */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
}}
