.navbar-item {
	position: relative;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px 8px;
	color: $white;
	font-family: 'Roboto';
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 0.1em;

	@include bp($bp-s) {
		padding: 15px 20px;
		font-size: 32px;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		height: 2px;
		width: 0;
		left: 50%;
		background-color: $white;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
	}

	&:hover {
		&:after {
			width: 100%;
			left: 0;
		}
	}

	&.disabled {
		cursor: default;
		color: $gray-300;
		text-decoration: line-through;

		&:hover {
			&:after {
				width: 0;
				left: 50%;
			}
		}
	}
}
