.projects-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	gap: 32px;

	@include bp($bp-m) {
		gap: 48px;
	}

	@include bp($bp-l) {
		max-width: 1048px;
	}

	.horizontal-line-break {
		display: block;
		height: 2px;
		width: 100%;
		border-radius: 2px;
		background-color: $gray-300;
		opacity: 0.4;
		margin: 48px 0;

		@include bp($bp-s) {
			margin: 72px 0;
		}
	}

	.projects-title {
		
	}

	.projects-container {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}
