.hex-outer {
	mask: $hex;
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center;
	background-color: $gray-100;

	$height: 90px;
	$width: calc(0.865 * $height);
	height: $height;
	width: $width;

	.hex-inner {
		height: calc(0.5 * $height);
		width: 100%;
	}
}
