.hex-outer {
	$background-color: $gray-000;
	$height: 90px;
	$width: calc(0.865 * $height);

	$point-height: calc(0.25 * $height);
	$core-height: calc(0.5 * $height);

	margin: calc(0.25 * $height) 0;
	width: $width;
	height: $core-height;
	background-color: $background-color;
	position: relative;

	.hex-inner {
		height: $core-height;
		width: 100%;
	}

	&:before {
		content: '';
		width: 0;
		height: 0;
		border-bottom: $point-height solid $background-color;
		border-left: calc(0.5 * $width) solid transparent;
		border-right: calc(0.5 * $width) solid transparent;
		position: absolute;
		top: -50%;
	}

	&:after {
		content: '';
		width: 0;
		position: absolute;
		bottom: -50%;
		border-top: $point-height solid $background-color;
		border-left: calc(0.5 * $width) solid transparent;
		border-right: calc(0.5 * $width) solid transparent;
	}

	$shadow-bottom-color: $gray-300;
	$shadow-right-color: $gray-200;

	.shadow-bottom-1 {
		z-index: 2;
		position: absolute;
		width: 0;
		bottom: 0;
		border-bottom: $point-height solid $shadow-bottom-color;
		border-left: calc(0.5 * $width) solid transparent;
		border-right: calc(0.5 * $width) solid transparent;
	}

	.shadow-bottom-2 {
		z-index: 2;
		position: absolute;
		width: 0;
		bottom: -50%;
		border-top: $point-height solid $shadow-bottom-color;
		border-left: calc(0.5 * $width) solid transparent;
		border-right: calc(0.5 * $width) solid transparent;
	}

	.shadow-right-1 {
		z-index: 2;
		position: absolute;
		width: 0;
		left: 50%;
		top: -50%;
		border-top: $point-height solid $shadow-right-color;
		border-left: calc(0.5 * $width) solid transparent;
		border-right: calc(0.5 * $width) solid transparent;
		transform-origin: top left;
		transform: rotate(60deg);
	}

	.shadow-right-2 {
		z-index: 2;
		position: absolute;
		width: 0;
		left: 50%;
		top: -100%;
		border-bottom: $point-height solid $shadow-right-color;
		border-left: calc(0.5 * $width) solid transparent;
		border-right: calc(0.5 * $width) solid transparent;
		transform-origin: bottom left;
		transform: rotate(60deg);
	}

	.shadow-right-3 {
		z-index: 2;
		position: absolute;
		width: $width;
		height: 1px;
		left: 50%;
		top: calc(-50% - 1px);
		background-color: $shadow-right-color;
		transform-origin: top left;
		transform: rotate(60deg);
	}
}
