@import 'mixins.scss';
@import 'variables.scss';

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Relative Book';
	font-size: 16px;
	line-height: 24px;
}

a {
	text-decoration: none;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.h-100 {
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 42px;
	line-height: 48px;

	@include bp($bp-s, $bp-m) {
		font-size: 54px;
		line-height: 60px;
	}

	@include bp($bp-m) {
		font-size: 72px;
		line-height: 80px;
	}
}

.h-200 {
	font-family: 'Poppins';
	font-weight: 700;
	font-size: 40px;
	line-height: 46px;

	@include bp($bp-s, $bp-m) {
		font-size: 46px;
		line-height: 52px;
	}

	@include bp($bp-m) {
		font-size: 62px;
		line-height: 70px;
	}
}

.h-400 {
	font-family: 'Poppins';
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;

	@include bp($bp-s, $bp-m) {
		font-size: 32px;
		line-height: 38px;
	}

	@include bp($bp-m) {
		font-size: 40px;
		line-height: 46px;
	}
}

.h-600 {
	font-family: 'Poppins';
	font-weight: 200;
	font-size: 18px;
	line-height: 28px;

	@include bp($bp-s, $bp-m) {
		font-size: 22px;
		line-height: 28px;
	}

	@include bp($bp-m) {
		font-size: 28px;
		line-height: 34px;
	}
}

.p {
	font-family: 'Poppins';
	font-weight: 200;
	font-size: 20px;
	line-height: 28px;
	margin: 4px 0;

	@include bp($bp-s, $bp-m) {
		font-size: 28px;
		line-height: 36px;
		margin: 8px 0;
	}
}
