.project {
	display: flex;
	flex-direction: column;
	gap: 16px;

	@include bp($bp-m) {
		gap: 24px;
	}

	.project-title {
		color: $yellow-600;
	}

	.name-container {
		display: flex;
		flex-direction: row;
		gap: 16px;
		align-items: center;

		a {
			$size: 20px;
			position: relative;
			background-color: transparent;
			width: $size;
			height: $size;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border: none;
				background-color: $yellow-600;
				mask: $link-icon;
				mask-repeat: no-repeat;
				mask-size: $size;
				mask-position: center;
			}

			@include bp($bp-s) {
				$size: 24px;
				width: $size;
				height: $size;

				&:after {
					mask-size: $size;
				}
			}
		}
	}

	.primary-images-container {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
			border-radius: 1%;
			box-shadow: rgba($gray-500, 0.14) 0px 2px 8px 0px;
		}

		@include bp(800) {
			flex-direction: row;
			gap: 32px;
			justify-content: center;
			flex-wrap: wrap;

			img {
				max-height: 500px;
				width: auto;
			}
		}
	}

	.subsections-container {
		display: flex;
		flex-direction: column;
		gap: 12px;

		@include bp($bp-s) {
			flex-direction: row;
			gap: max(min(5.5vw, 48px), 32px);
		}

		@include bp($bp-m) {
			gap: 64px;
		}

		p {
			margin: 0;
		}

		.subsection {
			display: flex;
			flex-direction: column;
			flex-basis: 0;
			flex-grow: 1;

			p {
				margin: 0;
			}
		}
	}
}
