.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	z-index: $z-root-navbar;
	background-color: $gray-800;

	padding: 0 12px 0 6px;
	height: $navbar-height;

	@include bp($bp-s) {
		height: $navbar-s-height;
	}

	ul.navbar-items-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		gap: 8px;

		@include bp($bp-s) {
			gap: 12px;
		}

		li {
			height: 100%;
		}
	}

	.mobile-menu-button {
		display: flex;
		align-items: center;
		justify-content: center;

		position: relative;
		$size: 24px;
		width: $size;
		height: $size;

		cursor: pointer;
		background-color: $yellow-600;
		box-shadow: none;
		border: none;

		mask: $menu-icon;
		mask-repeat: no-repeat;
		mask-size: calc($size * 0.8);
		mask-position: center;

		@include bp(440) {
			position: absolute;
			margin: auto 0;
			right: min(max(6px, 2.2vw), 26px);
			top: 0;
			bottom: 0;
		}

		@include bp($bp-s) {
			$size: 36px;
			width: $size;
			height: $size;
			mask-size: calc($size * 0.8);
		}

		&:hover {
			background-color: $yellow-400;
			transition: all 0.3s ease-in-out;
		}
	}
}
