@use 'sass:math';

.logo-title-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;

	.links-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
		margin-top: 8px;

		@include bp($bp-s) {
			gap: 32px;
		}
	}
}
