@use 'sass:math';

.home-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.links-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6px;

		&.h-offset-right {
			margin-left: 84px;
		}

		&.h-offset-left {
			margin-right: 84px;
		}

		&:nth-child(2n) {
			margin-top: 0px;
			height: calc(104px - 48px);
		}

		&:last-child {
			margin-bottom: 32px;
		}
	}
}
