@use 'sass:math';

.home-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.links-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6px;

		&.p1 {
			margin-left: 84px;
		}

		&.odd {
			margin-top: 0px;
			height: calc(104px - 48px);
		}
	}
}
